$fa-font-path: "../vendor/font-awesome-4.7.0/fonts";

@import '../vendor/font-awesome-4.7.0/scss/font-awesome';
@import 'mixins';
@import 'buttons';
@import 'forms'; 
@import 'modal';
@import 'mobile-menu';
@import 'header';
@import 'sections/body';
@import 'sections/calendar';
@import 'sections/charter'; 
@import 'sections/executive';
@import 'sections/gallery';
@import 'sections/galleries';
@import 'sections/header';
@import 'sections/home-top';
@import 'sections/home-latest';
@import 'sections/map';
@import 'sections/top';
@import 'sections/404';
@import 'pages/contact-us';
@import 'footer';