$footer-height: 50px; 

@import 'include';
html {
    height: 100%; 
}
body{
    height: 100%; 
    background-color: #efefee; 
    #main-content {
        position: relative; 
        min-height: 100%; 
        background-color: #f8f5f5; 
    }
    .container {
        margin: 0px auto;  
    }
    section {
        margin-bottom: 30px; 
        .container {
            & > .row {
                margin-left: -0.9375rem; 
                margin-right: -0.9375rem; 
            }
        }
    }
}

/* Small only */ 
@media screen and (max-width: 39.9375em) {
    body {
        .container {
            width: 100%; 
        }
        .small-hidden {
            display: none; 
        }
        .row {
            max-width: 100%; 
        }
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    body {
        #main-content {
            padding-bottom: $footer-height; 
        }
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    body {
        .container {
            width: 1020px; 
            max-width: 100%; 
        }
        .medium-hidden {
            display: none; 
        }
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    body {
        .container {
            width: 1020px; 
        }
        .large-hidden {
            display: none; 
        }
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    
}