section.section-header{
    background-color: #333; 
    background-image: url('../images/header2.jpg');
    background-position: center top; 
    background-size: cover; 
    background-repeat: no-repeat; 
    &::before{
        content: '';
        display: block; 
        height: 200px; 
    }
}